@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header {
    font-family: Roboto;
    background-color: #FFFFFF;
}

.r-box {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    min-width: 20vw;
    max-width: 70vw;
    margin: 0 auto 100px;
    padding: 20px, 20px, 20px, 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.r-box-text {
  width: 100%;
  height: 100%;
  padding: 10px 5px 10px 0;
}

.r-box-heading {
  font-family: Rubik, sans-serif;
  text-align: start;
  margin-bottom: 4px;
  color: #474747;
}

body {
    background-color: #328f8a;
    background-image: linear-gradient(90deg,#E56B6F,#EAAC8B);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }