<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'createLogin/createLoginInfo/style.css' %}">
    <title> Create Login </title>
</head>
<body>
    <div class="createLoginInfo-page">
        <div class="form">
            <div class="createLoginInfo">
                <div class="form-header">
                    <h3>Create Login</h3>
                </div>
            </div>
            <hr/>
            <form class="form-body" method="post">
                {% csrf_token %}
                <p>What username would you like to use?</p>
                <input id="username" type="text" name="username" value="{{ username }}" placeholder="Username"  maxlength=64>
                <p>What password would you like to use?</p>
                <input id="password" type="password" name="password" value="{{ password }}" placeholder="Password"  maxlength=128>
                <p>Please confirm your password</p>
                <input id="compPassword" type="password" name="compPassword" value="{{ compPassword }}" placeholder="Password"  maxlength=128>
                <p><button>submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>