<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'createLogin/profileInfo/style.css' %}">
    <title> Profile Info </title>
</head>
<body>
    <div class="profileInfo-page">
        <div class="form">
            <div class="profileInfo">
                <div class="form-header">
                    <h3>Fill in Your Profile Information</h3>
                    <p style="font-size:small">(Others will be able to see this)</p>
                </div>
            </div>
            <hr/>
            <form class="form-body" method="post">
                {% csrf_token %}
                <p>What is your first name?</p>
                <input id="name" type="text" name="name" value="{{ name }}" placeholder="First name"  maxlength=64>
                <p>What is your phone number?</p>
                <input id="phone_number" type="text" name="phone_number" value="{{ phone_number }}" placeholder="XXXXXXXXXX"  maxlength=10>
                <p><button>submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>