<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'driver/createSchedule/style.css' %}">
    <title> Create Schedule </title>
</head>
<body>
    <div class="createSchedule-page">
        <div class="form">
            <div class="createSchedule">
                <div class="form-header">
                    <h3>Create A Schedule</h3>
                </div>
            </div>
            <hr/>
            <form class="form-body" method="post">
                {% csrf_token %}
                <p>What time are you leaving?</p>
                <p>(please make sure to put it in 24hr time)</p>
                <input type="text" placeholder="00" name="hour" id="time" value="{{ hour }}" maxlength=2/>
                <input type="text" placeholder="00" name="minute" id="time" value="{{ minute }}" maxlength=2/>
                <input type="text" placeholder="MM" name="month" id="month" value="{{ month }}" maxlength=2/>
                <input type="text" placeholder="DD" name="day" id="day" value="{{ day }}" maxlength=2/>
                <input type="text" placeholder="YYYY" name="year" id="year" value="{{ year }}" maxlength=4/>
                <p>Where are you leaving from?</p>
                <input type="text" placeholder="Location From" name="locationFrom" id="locationFrom" value="{{ locationFrom }}"/>
                <p>Where are you going to?</p>
                <input type="text" placeholder="Destination" name="destination" id="destination" value="{{ destination }}"/>
                <p><button>submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>