<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'askInfo/riderLocation/style.css' %}">
    <title> Location Information </title>
</head>
<body>
    <div class="riderLocation-page">
        <div class="form">
            <div class="riderLocation">
                <div class="form-header">
                    <h3>Location Information</h3>
                </div>
            </div>
            <hr/>
            <form class="form-body" method="post">
                {% csrf_token %}
                <p>Where are you trying to go?</p>
                <input id="destination" type="text" name="destination" value="{{ destination }}" placeholder="Destination"  maxlength=100>
                <p>Where are you right now?</p>
                <input id="current" type="text" name="current" value="{{ current }}" placeholder="Current Location"  maxlength=100>
                <p><button>submit</button></p>
            </form>
        </div>
    </div>
</body>
</html>